.menu {
  margin: 20px 0;
}

.menu li {
  display: inline-block;
  background: #cb96d4;
  text-align: center;
}

.menu a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
}

.menu a:hover {
  opacity: 0.5;
}
